@model HallViewModel
@{
    ViewData["Title"] = "Hall";
}

<h2>@Model.HallName</h2>

<h2>Choose seats by clicking the corresponding seat in the layout below</h2>

<div id="holder">
    <ul id="place">
    </ul>
</div>
<div style="float:left;">
    <ul class="list-group">
        @{ 
            var rows = Model.Seats.Where(x => x.Available == 1).Select(x => x.RowNumber.Count()).ToList();
        }
        @foreach (var seat in Model.Seats)
        {
            if (seat.Available == 1)
            {
                
                bool isAvailable = Convert.ToBoolean(seat.Available);

                <li class="list-group-item" style="display:inline-block;">
                    <div>
                        <label for="@seat.Id">@seat.SeatNumber</label>
                        <input type="checkbox" id="@seat.Id" asp-for="@isAvailable">
                        <img src="~/images/available_seat_img.gif" />
                    </div>
                </li>
            }
            else
            {
                <li class="list-group-item">
                    <div>
                        <label for="@seat.Id">@seat.SeatNumber</label>
                        <input type="checkbox" id="@seat.Id">
                        <img src="~/images/booked_seat_img.gif" />
                    </div>
                </li>
            }
        }
    </ul>
</div>
    @*<ul id="seatDescription">
        <li><img src="~/images/available_seat_img.gif" /></li>
        <li><img src="~/images/booked_seat_img.gif" /></li>
        <li><img src="~/images/selected_seat_img.gif" /></li>
    </ul>
</div>
<div style="clear:both;width:100%">
    <input type="button" id="btnShowNew" value="Show Selected Seats" />
    <input type="button" id="btnShow" value="Show All" />
</div>*@


